<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" >
	<div ng-controller="myCtrl">
	<h3>Authorizing</h3>
	<table ng-if="db" style="width: 100%" border="1">
		<thead>
			<tr>
				<th></th>
				<th ng-repeat="role in db.roles">{{role.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="acc in db.accounts">
				<th>{{acc.username}}</th>
				<th ng-repeat="role in db.roles"><input type="checkbox"
					ng-checked="index_of(acc.username,role.id) >= 0 "
					ng-click="update(acc.username,role.id)" /></th>
			</tr>
		</tbody>
	</table>
	</div>
	<script >
	var app = angular.module("myApp",[]);
	app.controller("myCtrl", function($scope,$http){
		$http.get("/rest/authorities").then(resp => {
			$scope.db = resp.data;
			console.log(resp.data);
		})
		
		$scope.index_of = function(username, role){
			return $scope.db.authorities
			.findIndex(a => a.account.username == username && a.role.id == role);
			
		}
		$scope.update = function(username,role){
			var index = $scope.index_of(username,role);
			if(index >= 0 ){
				var id = $scope.db.authorities[index].id;
				$http.delete(`/rest/authorities/${id}`).then(resp =>{
					$scope.db.authorities.splice(index,1);
				})
			}else{
				var authority = {
					account:{username:username},
					role:{id:role}
				};
				$http.post('/rest/authorities/',authority).then(resp=>{
					$scope.db.authorities.push(resp.data);
				});
			}
		}
	});

	</script>
	</body>
</html>